[submodule "src/PHOENIX/vendor/glfw"]
	path = src/PHOENIX/vendor/glfw
	url = https://github.com/BenjaminSetton/glfw.git
[submodule "src/samples/common/vendor/assimp"]
	path = src/samples/common/vendor/assimp
	url = https://github.com/BenjaminSetton/assimp.git
[submodule "src/samples/common/vendor/glm"]
	path = src/samples/common/vendor/glm
	url = https://github.com/BenjaminSetton/glm.git
[submodule "src/samples/common/vendor/imgui"]
	path = src/samples/common/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/PHOENIX/vendor/slang"]
	path = src/PHOENIX/vendor/slang
	url = https://github.com/shader-slang/slang.git
[submodule "src/BSL"]
	path = src/BSL
	url = https://github.com/BenjaminSetton/BSL.git
